#logo img{
    width: 150px;
    height: 150px;
}
.banner #logo{
    display: grid;
    grid-template-columns: 20% 80%;
}

.menu li{
    list-style: none;
  }
  .menu3{
    display: none;
  }
  .menu3.menu li:hover ul.menu3{
    display: block;
  }
  .menu4{
    display: none;
  }
  .menu4.menu3 li:hover ul.menu4{
    display: block;
  }

  .menu ul {
    display: grid;
    grid-template-columns: auto;
  }